*{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#head2{
    background-color: #083c54;
}

#barranavegacion{
    background-color: #116dfb;
}
#imagenessec{
    background-color: #d4e5fe;
}