*{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#head2{
    background-color: #083c54;
}

#barranavegacion{
    background-color: #116dfb;
}
#imagenessec{
    background-color: #d4e5fe;
}
/* #################################### GOOGLE FONTS */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
